/* /Layout/MainLayout.razor.rz.scp.css */
.navbar[b-88opp1dswv] {
    position: static;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-menu[b-88opp1dswv] {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav-item[b-88opp1dswv] {
    font-family: var(--font-medium);
    font-size: 17px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.contact[b-88opp1dswv] {
    font-family: var(--font-regular);
    color: var(--alt-color);
    position: fixed;
    top: 45px;
    right: 30px;
}

.nav-item:not(.nav-logo):hover[b-88opp1dswv] {
    transition: all 0.2s;
    transform: scale(1.1);
    color: var(--secondary-color);
}

.mini-logo[b-88opp1dswv] {
    height: auto;
    width: 150px;
}

hr[b-88opp1dswv] {
    width: 100%;
    border-bottom: solid 1px black;
}
