/* /Layout/MainLayout.razor.rz.scp.css */
.navbar[b-88opp1dswv] {
    position: relative;
    width: 100%;
    background-color: var(--banner-color);
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
}

.nav-menu[b-88opp1dswv] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item[b-88opp1dswv] {
    font-family: var(--font-medium);
    font-size: 17px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    transition: all 0.2s;
}

.nav-item:hover[b-88opp1dswv] {
    transition: all 0.2s;
    transform: scale(1.1);
    color: var(--secondary-color);
}

.nav-item:not(.hidden):hover .expandable[b-88opp1dswv] {
    transition: all 0.7s;
    width: 100%;
    opacity: 1;
}

.expandable[b-88opp1dswv] {
    margin: auto;
    opacity: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 0%;
    border-bottom: solid 1px var(--alt-color);
    transition: all 0.7s;
}

.mini-logo[b-88opp1dswv] {
    height: auto;
    width: 150px;
}

.contact[b-88opp1dswv] {
    font-family: var(--font-regular);
    color: var(--alt-color);
    position: absolute;
    top: 45px;
    right: 30px;
}

.mobile[b-88opp1dswv] {
    display: none;
}

@media (max-width: 850px) {
    .contact[b-88opp1dswv] {
        display: none;
    }
}

@media (max-width: 545px) /*Mobile Responsive*/ {
    .nav-menu[b-88opp1dswv] {
        justify-content: space-between;
    }

    .nav-item[b-88opp1dswv] {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        font-family: var(--font-bold)
    }

    .mobile[b-88opp1dswv] {
        display: block;
    }

    .mobile-icon[b-88opp1dswv] {
        height: 35px;
        width: auto;
        margin: auto;
        padding-bottom: 4px;
    }
}
/* /Pages/Inquiry.razor.rz.scp.css */
/* /Pages/Main.razor.rz.scp.css */
.title[b-4c3x4oz91s] {
    margin-top: 40px;
    font-family: var(--font-bold);
    font-size: 45px;
    color: var(--alt-color);
}

.sub-title[b-4c3x4oz91s], span[b-4c3x4oz91s] {
    margin-top: 3px;
    margin-bottom: 40px;
    font-family: var(--font-medium);
    font-size: 30px;
    color: var(--text-color);
}

.prompt[b-4c3x4oz91s] {
    width: 100%;
    margin-top: 30px;
    background-color: var(--banner-color);
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-content: center;
    justify-content: center;
    transition: all 0.5s;
}

.prompt-item[b-4c3x4oz91s] {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.prompt-title[b-4c3x4oz91s] {
    margin-bottom: 15px;
    font-size: 34px;
    font-family: var(--font-bold);
}

.prompt-details[b-4c3x4oz91s] {
    font-size: 16px;
}

.prompt-button[b-4c3x4oz91s] {
    width: 160px;
    margin: 30px auto auto auto;
    padding: 20px 40px 20px 40px;
    background-color: var(--alt-color);
    color: var(--banner-color);
    border-radius: 20px;
    filter: drop-shadow(0 10px 12px #676767);
    transition: all 0.5s;
}

.prompt-button:hover[b-4c3x4oz91s] {
    background-color: var(--secondary-color);
    transform: scale(1.1);
    transition: all 0.5s;
}


.prompt-button p[b-4c3x4oz91s] {
    font-size: 24px;
    font-family: var(--font-bold);
}

.reviews-container[b-4c3x4oz91s] {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 50px 5% 30px 5%;
}

@media (max-width: 915px) {
    .prompt[b-4c3x4oz91s] {
        gap: 0px;
        transition: all 0.5s;
    }

    .prompt-details[b-4c3x4oz91s] {
        padding: 0 10px 0 10px;
    }
}
/* /Pages/Services.razor.rz.scp.css */
/* /Shared/Banner.razor.rz.scp.css */
.banner[b-jb4kcrqd9z] {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.banner img[b-jb4kcrqd9z] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-info[b-jb4kcrqd9z] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: var(--alt-color);
    align-content: center;
    opacity: 1;
    transition: all 1.5s ease;

    @starting-style {
        opacity: 0;
        width: 10%;
    }
}

.info-contents[b-jb4kcrqd9z] {
    padding: 40px;
}

.description[b-jb4kcrqd9z] {
    font-family: var(--font-bold);
    font-size: 30px;
    color: var(--main-color);
    text-align: left;
    opacity: 1;
    transition: all 1s ease;
    transition-delay: 1.25s;

    @starting-style {
        opacity: 0;
        translate: 60px 0;
    }
}

@media (max-width: 1075px) {
    .banner[b-jb4kcrqd9z] {
        height: 200px;
    }

    .banner-info[b-jb4kcrqd9z] {
        width: 35%;
    }

    .info-contents[b-jb4kcrqd9z] {
        padding: 20px;
    }

    .description[b-jb4kcrqd9z] {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .description[b-jb4kcrqd9z] {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .description[b-jb4kcrqd9z] {
        font-size: 17px;
    }
}

@media (max-width: 545px) /*Mobile Responsive*/ {
    .banner[b-jb4kcrqd9z] {
        height: 150px;
    }

    .banner-info[b-jb4kcrqd9z] {
        width: 40%;
    }

    .info-contents[b-jb4kcrqd9z] {
        padding: 15px;
    }

    .description[b-jb4kcrqd9z] {
        font-size: 14px;
    }
}
/* /Shared/InquiryContainer.razor.rz.scp.css */
.form-flex[b-pjpusa61fe] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container[b-pjpusa61fe] {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 1060px;
}

.inquiry-sub-title[b-pjpusa61fe], .inquiry-sub-title span[b-pjpusa61fe] {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
    font-family: var(--font-bold);
    font-size: 30px;
    color: var(--text-color);
}

.form-full[b-pjpusa61fe] {
    width: 100%;
    margin: 20px;
}
.form-half[b-pjpusa61fe] {
    width: 450px;
    margin: 20px;
}

.form-entry[b-pjpusa61fe] {
    padding: 20px;
    background-color: var(--banner-color);
    border-radius: 20px;
    filter: drop-shadow(0 10px 12px #676767);
}

.form-title[b-pjpusa61fe] {
    margin: 0 0 15px 0;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title p[b-pjpusa61fe] {
    font-family: var(--font-bold);
    font-size: 24px;
    color: var(--alt-color);
}

.rego-section[b-pjpusa61fe] {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.form-rego[b-pjpusa61fe] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rego-container[b-pjpusa61fe] {
    position: relative;
    height: 130px;
    width: 250px;
}

.rego-img[b-pjpusa61fe] {
    display: block;
    width: 100%;
    height: 100%;
}

.submit-button[b-pjpusa61fe] {
    width: 160px;
    margin: 30px auto 50px auto;

    padding: 20px 40px 20px 40px;
    background-color: var(--alt-color);
    color: var(--banner-color);
    border-radius: 20px;
    filter: drop-shadow(0 10px 12px #676767);
    transition: all 0.5s;
}

.submit-button:hover[b-pjpusa61fe] {
    background-color: var(--secondary-color);
    transform: scale(1.1);
    transition: all 0.5s;
}


.submit-button p[b-pjpusa61fe] {
    font-size: 24px;
    font-family: var(--font-bold);
}

.error-handling[b-pjpusa61fe] {
    font-size: 18px;
    color: red;
}

@media (max-width: 1075px) {
    .inquiry-sub-title[b-pjpusa61fe] {
        margin: 50px 2.5% 20px 2.5%;
    }

    .form-half[b-pjpusa61fe] {
        width: 40%;
    }
}

@media (max-width: 815px) {
    .inquiry-sub-title[b-pjpusa61fe] {
        margin: 50px 2.5% 20px 2.5%;
    }

    .form-half[b-pjpusa61fe] {
        width: 100%;
        margin: 20px;
    }
}

@media (max-width: 548px) /*Mobile Responsive*/ {
    .inquiry-sub-title[b-pjpusa61fe] {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .inquiry-entry[b-pjpusa61fe] {
        width: 147px;
    }
}
/* /Shared/ServiceContainer.razor.rz.scp.css */
.service-sub-title[b-hw0e9luk6a], .service-sub-title span[b-hw0e9luk6a] {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-family: var(--font-bold);
    font-size: 30px;
    color: var(--text-color);
}

.service-flex[b-hw0e9luk6a] {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all 0.5s;
}

.service-container[b-hw0e9luk6a] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    margin-top: 50px;
}

.service-details[b-hw0e9luk6a] {
    min-width: 300px;
    width: 500px;
    opacity: 1;
    transition: all 0.5s ease;

    @starting-style {
        min-width: 0px;
        width: 0px;
        opacity: 0;
    }
}

.service-entry[b-hw0e9luk6a] {
    margin: 20px;
    width: 225px;
    height: 200px;
    background-color: var(--banner-color);
    border-radius: 20px;
    filter: drop-shadow(0 10px 12px #676767);
    transition: all 0.5s;
}

.service-entry:hover[b-hw0e9luk6a] {
    transform: scale(1.1);
    transition: all 0.5s;
}

.service-title[b-hw0e9luk6a] {
    margin: 0 0 15px 0;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-title p[b-hw0e9luk6a] {
    font-family: var(--font-bold);
    font-size: 20px;
    color: var(--alt-color);
}

.service-icon[b-hw0e9luk6a] {
    margin-top: 20px;
    height: 120px;
    width: 120px;
}

.service-attribute[b-hw0e9luk6a] {
    font-size: 14px;
}

@media (max-width: 1075px) {
    .service-sub-title[b-hw0e9luk6a] {
        margin: 0 2.5% 20px 2.5%;
    }
}

@media (max-width: 545px) /*Mobile Responsive*/ {
    .service-entry[b-hw0e9luk6a] {
        width: 150px;
    }

    .service-sub-title[b-hw0e9luk6a] {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .service-entry[b-hw0e9luk6a] {
        width: 147px;
    }
}
