/* /Layout/MainLayout.razor.rz.scp.css */
.navbar[b-88opp1dswv] {
    position: relative;
    width: 100%;
    background-color: var(--banner-color);
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
}

.nav-menu[b-88opp1dswv] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item[b-88opp1dswv] {
    font-family: var(--font-medium);
    font-size: 17px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    transition: all 0.2s;
}

.nav-item:hover[b-88opp1dswv] {
    transition: all 0.2s;
    transform: scale(1.1);
    color: var(--secondary-color);
}

.nav-item:not(.hidden):hover .expandable[b-88opp1dswv] {
    transition: all 0.7s;
    width: 100%;
    opacity: 1;
}

.expandable[b-88opp1dswv] {
    margin: auto;
    opacity: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 0%;
    border-bottom: solid 1px var(--alt-color);
    transition: all 0.7s;
}

.mini-logo[b-88opp1dswv] {
    height: auto;
    width: 150px;
}

.contact[b-88opp1dswv] {
    font-family: var(--font-regular);
    color: var(--alt-color);
    position: fixed;
    top: 45px;
    right: 30px;
}
/* /Pages/Inquiry.razor.rz.scp.css */
.form-container[b-xlfo1fj4xs] {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Pages/Main.razor.rz.scp.css */
.banner[b-4c3x4oz91s] {
    position: relative;
    height: 250px;
    width: 100%;
}

.banner img[b-4c3x4oz91s] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-info[b-4c3x4oz91s] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: var(--alt-color);
    align-content: center;

    opacity: 1;
    transition: all 1.5s ease;

    @starting-style {
        opacity: 0;
        width: 10%;
    }
}

.info-contents[b-4c3x4oz91s] {
    padding: 40px;
}

.title[b-4c3x4oz91s] {
    margin-top: 40px;
    font-family: var(--font-bold);
    font-size: 45px;
    color: var(--text-color);
}

.sub-title[b-4c3x4oz91s] {
    margin-top: 3px;
    font-family: var(--font-medium);
    font-size: 30px;
    color: var(--alt-color);
}

.description[b-4c3x4oz91s] {
    font-family: var(--font-bold);
    font-size: 30px;
    color: var(--main-color);
    text-align: left;
    opacity: 1;
    transition: all 1s ease;
    transition-delay: 1.25s;

    @starting-style {
        opacity: 0;
        translate: 60px 0;
    }
}
/* /Pages/Services.razor.rz.scp.css */
.service-container[b-oc11ih14og] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    margin: auto;
}

.service-entry[b-oc11ih14og] {
    margin: 20px;
    width: 200px;
    border: solid 2px var(--text-color);
    border-radius: 20px;
}

.service-title[b-oc11ih14og] {
    font-size: 20px;
}

.service-attribute[b-oc11ih14og] {
    font-size: 14px;
}
