.navbar {
    position: static;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav-item {
    font-family: var(--font-medium);
    font-size: 17px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.contact {
    font-family: var(--font-regular);
    color: var(--alt-color);
    position: fixed;
    top: 45px;
    right: 30px;
}

.nav-item:not(.nav-logo):hover {
    transition: all 0.2s;
    transform: scale(1.1);
    color: var(--secondary-color);
}

.nav-item:not(.hidden):hover .expandable {
    transition: all 0.7s;
    width: 100%;
    opacity: 1;
}

.expandable {
    margin: auto;
    opacity: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 0%;
    border-bottom: solid 1px var(--alt-color);
}

.mini-logo {
    height: auto;
    width: 150px;
}