@inherits LayoutComponentBase

<body>
    <div class="navbar">
        <div class="nav-menu">
            <a class="nav-item">Inquiry</a>
            <a class="nav-item">Services</a>
        </div>
    </div>
    @Body
</body>