.navbar {
    position: relative;
    width: 100%;
    background-color: var(--banner-color);
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-family: var(--font-medium);
    font-size: 17px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    transition: all 0.2s;
}

.nav-item:hover {
    transition: all 0.2s;
    transform: scale(1.1);
    color: var(--secondary-color);
}

.nav-item:not(.hidden):hover .expandable {
    transition: all 0.7s;
    width: 100%;
    opacity: 1;
}

.expandable {
    margin: auto;
    opacity: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 0%;
    border-bottom: solid 1px var(--alt-color);
    transition: all 0.7s;
}

.mini-logo {
    height: auto;
    width: 150px;
}

.contact {
    font-family: var(--font-regular);
    color: var(--alt-color);
    position: fixed;
    top: 45px;
    right: 30px;
}

.mobile {
    display: none;
}

@media (max-width: 850px) {
    .contact {
        display: none;
    }
}

@media (max-width: 545px) /*Mobile Responsive*/ {
    .nav-menu {
        justify-content: space-between;
    }

    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        font-family: var(--font-bold)
    }

    .mobile {
        display: block;
    }

    .mobile-icon {
        height: 35px;
        width: auto;
        margin: auto;
        padding-bottom: 4px;
    }
}