@inherits LayoutComponentBase

@inject IJSRuntime js
@inject HttpClient http
@inject NavigationManager NavManager

<header class="navbar">
    <div class="nav-menu">
        <a class="nav-item" @onclick="@(() => Navigation.NavigateTo(NavManager, js, "/inquiry"))">
            <hr class="hidden" />INQUIRY<hr class="expandable" />
        </a>
        <a class="nav-item nav-logo" @onclick="@(() => Navigation.NavigateTo(NavManager, js, "/"))">
            <img class="mini-logo" src="../img/logo.png" />
        </a>
        <a class="nav-item" @onclick="@(() => Navigation.NavigateTo(NavManager, js, "/services"))">
            <hr class="hidden" />SERVICES<hr class="expandable" />
        </a>
    </div>
    <a class="nav-item contact" href="tel:0452045965">0452 045 965</a>
</header>
<body class="body">
    @Body
</body>

@code {
    protected override async Task OnInitializedAsync()
    {
        var services = await http.GetFromJsonAsync<List<Service>>("json/services.json");

        if (services != null)
        {
            Data.Services = services;    
        }
    }
}