@inherits LayoutComponentBase

<body>
    <div class="navbar">
        <div class="nav-menu">
            <a class="nav-item">INQUIRY</a>
            <a class="nav-item nav-logo"><img class="mini-logo" src="../img/logo.png" /></a>
            <a class="nav-item">SERVICES</a>
        </div>
        <a class="nav-item contact">0452 045 965</a>
    </div>
    @Body
</body>