.title {
    margin-top: 40px;
    font-family: var(--font-bold);
    font-size: 45px;
    color: var(--text-color);
}

.sub-title {
    margin-top: 3px;
    font-family: var(--font-medium);
    font-size: 30px;
    color: var(--alt-color);
}