@page "/"
@inject IJSRuntime js

<Banner/>
<p class="title">JN Mechanical</p>
<p class="sub-title">Your Expert Mobile & Roadside Mechanic</p>
<div class="prompt">
    <ServiceContainer />
</div>
<div class="reviews-container">
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-98580aac-4ccc-449e-ba27-59a5484a1eae" data-elfsight-app-lazy></div>
</div>
<div style="height: 30px;"/>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Navigation.visited)
        {
            Console.WriteLine("Rendered");
            await js.InvokeVoidAsync("Rendered", Navigation.duration);

            Navigation.visited = true;
        }

        if (firstRender)
        {
            await js.InvokeVoidAsync("FadeIn", Navigation.duration);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}