.title {
    margin-top: 40px;
    font-family: var(--font-bold);
    font-size: 45px;
    color: var(--text-color);
}

.sub-title {
    margin-top: 3px;
    font-family: var(--font-medium);
    font-size: 30px;
    color: var(--alt-color);
}

.reviews-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 50px 0 50px 0;
}