@page "/"
@inject IJSRuntime js

<div class="banner">
    <img src="../img/banner.png"/>
    <div class="banner-info">
        <div class="info-contents">
            <p class="description">Trusted & Reliable care operating</p>
            <p class="description">in The Hills and Greater Sydney.</p>
        </div>
    </div>
</div>
<p class="title">JN Mechanical</p>
<p class="sub-title">Your Expert Mobile & Roadside Mechanic</p>
<div class="prompt">
    <a class="nav-item">
        <div class="prompt-button">
            <p class="prompt-title">Inquiry</p>
        </div>
    </a>
    <a class="nav-item">
        <div class="prompt-button">
            <p class="prompt-title">Services</p>
        </div>
    </a>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Navigation.visited)
        {
            Console.WriteLine("Rendered");
            await js.InvokeVoidAsync("Rendered", Navigation.duration);

            Navigation.visited = true;
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}