@page "/services"
@inject IJSRuntime js

<Banner contents="@contents" img="@bannerPath" />
<p class="sub-title">What we can <span style="color: var(--secondary-color)">offer</span> you.</p>
<ServiceContainer />

@code {
    public string[] contents =
    {
        "Our Services"
    };

    public string bannerPath = "../img/banner_services.jpg";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Navigation.visited)
        {
            Console.WriteLine("Rendered");
            await js.InvokeVoidAsync("Rendered", Navigation.duration);

            Navigation.visited = true;
        }

        if (firstRender)
        {
            await js.InvokeVoidAsync("FadeIn", Navigation.duration);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}