@page "/services"
@inject IJSRuntime js

<div class="service-container">
    @foreach (var service in Data.Services)
    {
        <a class="service-entry">
            <img class="service-icon" />
            <p class="service-title">@service.Key</p>
            @foreach (var point in service.Value)
            { 
                <p class="service-attribute">- @point</p>
            }
        </a>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        while (Data.Services.Count == 0)
        {
            await Task.Delay(10);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Navigation.visited)
        {
            Console.WriteLine("Rendered");
            await js.InvokeVoidAsync("Rendered", Navigation.duration);

            Navigation.visited = true;
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}