.banner {
    position: relative;
    height: 250px;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-info {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: var(--alt-color);
    align-content: center;
    opacity: 1;
    transition: all 1.5s ease;

    @starting-style {
        opacity: 0;
        width: 10%;
    }
}

.info-contents {
    padding: 40px;
}

.description {
    font-family: var(--font-bold);
    font-size: 30px;
    color: var(--main-color);
    text-align: left;
    opacity: 1;
    transition: all 1s ease;
    transition-delay: 1.25s;

    @starting-style {
        opacity: 0;
        translate: 60px 0;
    }
}