<div class="banner">
    <img src="@img" />
    <div class="banner-info">
        <div class="info-contents">
            @foreach (var item in contents)
            {
                <p class="description">@item</p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string img { get; set; } = "../img/banner.png";
    [Parameter]
    public string[] contents { get; set; } =
    {
        "Trusted & Reliable care operating",
        "in The Hills and Greater Sydney."
    };
}