<div class="banner">
    <img src="../img/banner.png" />
    <div class="banner-info">
        <div class="info-contents">
            <p class="description">Trusted & Reliable care operating</p>
            <p class="description">in The Hills and Greater Sydney.</p>
        </div>
    </div>
</div>