.service-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all 0.5s;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-top: 50px;
}

.service-details {
    min-width: 300px;
    width: 500px;
    opacity: 1;
    transition: all 0.5s ease;

    @starting-style {
        min-width: 0px;
        width: 0px;
        opacity: 0;
    }
}

.service-entry {
    margin: 20px;
    width: 225px;
    height: 200px;
    background-color: var(--banner-color);
    border-radius: 20px;
    filter: drop-shadow(0 10px 12px #676767);
    transition: all 0.5s;
}

.service-entry:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.service-title {
    margin: 0 0 15px 0;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-title p {
    font-family: var(--font-bold);
    font-size: 20px;
    color: var(--alt-color);
}

.service-icon {
    margin-top: 20px;
    height: 120px;
    width: 120px;
}

.service-attribute {
    font-size: 14px;
}